.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }
  
  .colorizator {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 520px;
  }