.order {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    background-color: #1C1C21;
    box-sizing: border-box;
  }
  
  .header {
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
  }
  
  .image_box {
    padding: 0 0 24px 40px;
    display: flex;
    align-items: center;
  }
  
  .images_and_cost {
    display: flex;
    align-items: center;
  }
  
  .cost{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 24px 24px 0;
    width: 100%;
    gap: 9px
  }