.profile {
    //profile__container
    &__container {
        margin: auto;
        max-width: 1280px;
        display: flex;
        gap: 60px;
    }
    //profile__navigation
    &__navigation {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    //profile__navlink
    &__navlink {
        display: flex;
        flex-direction: column;
    }
    //profile__form
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    //profile__buttons
    &__buttons {
        display: flex;
        justify-content: flex-end;
    }
    //profile__link
    &__link {
        min-height: 64px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    //profile__text
    &__text {
        color: #8585ad;
        opacity: 0.4;
    }
}

.order {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    overflow-y: overlay;
    height: 70vh;
    padding-right: 16px;
    &::-webkit-scrollbar {
        width: 8px;
    }
    //feed__container::-webkit-scrollbar-track
    &::-webkit-scrollbar-track {
        background-color: #2f2f37;
    }
    //feed__container::-webkit-scrollbar-thumb
    &::-webkit-scrollbar-thumb {
        height: 292px;
        background: #8585ad;
        border: 3px solid #8585ad;
    }
}