.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    //details__title
    &__title {
        align-self: center;
    }
    //details__container
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    //details__card
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        align-self: center;
    }
    &__image {
        justify-self: center;
        align-self: center;
    }
}