.details {
    //details__title
    &__title {
        align-self: self-start;
    }
    //details__container
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    //details__card
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}