.burger {
    //burger__constructor
    &__constructor {
        width: 600px;
        padding-top: 100px;
        padding-left: 16px;
    }
    &__empty {
        display: flex;
        border: 3px solid #8585ad;
        min-width: 500px;
        min-height: 150px;
        align-items: center;
        justify-content: center;
        &_hover {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid #8585ad;
            min-width: 500px;
            min-height: 150px;
            box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
            0px 0px 8px 8px rgba(51, 51, 255, 0.25);
        }
    }
    &__ingredients {
        display: flex;
        width: 100%;
        border: 3px #8484897f dashed;
        width: 584px;
        min-height: 100px;
        &_hover {
            display: flex;
            width: 100%;
            border: 3px #8484897f dashed;
            width: 584px;
            min-height: 100px;
            box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
            0px 0px 8px 8px rgba(51, 51, 255, 0.25);
        }
    }
    //burger__container
    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: scroll;
        max-height: 464px;
        margin: 0;
        padding: 0 8px 0 0;
        &::-webkit-scrollbar {
            width: 8px;
        }
        //burger__list::-webkit-scrollbar-track
        &::-webkit-scrollbar-track {
            background-color: #2f2f37;
        }
        //burger__list::-webkit-scrollbar-thumb
        &::-webkit-scrollbar-thumb {
            height: 292px;
            background: #8585ad;
            border: 3px solid #8585ad;
        }
    }
    //burger__item
    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    //burger__bun
    &__bun {
        padding-left: 30px;
    }
    //burger__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0;
        padding: 0;
        &_hover {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin: 0;
            padding: 0;
            box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
            0px 0px 8px 8px rgba(51, 51, 255, 0.25);
        }
    }
    //burger__order
    &__order {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 40px;
    }
    //burger__price
    &__price {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    //burger__lists
    &__list_hover {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0;
        padding: 0;
        box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
        0px 0px 8px 8px rgba(51, 51, 255, 0.25);
    }
}


