.header {
    background-color: #1C1C21;
    //header__container
    &__container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
    //header__list
    &__list {
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: auto auto 1fr 1fr;
        grid-template-rows: auto;
        :last-of-type {
            justify-self: end;
        }
        :nth-child(3) {
            margin-left: 112px;
            justify-self: start;
        }
    }
    //header__link
    &__link {
        display: flex;
        align-items: center;
        color: #F2F2F3;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
        :hover {
            opacity: 0.7;
        }
    }
    //header__menu
    &__menu {
        ul {
            justify-content: start;
        }
    }
    &__logo {
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
        :hover {
            opacity: 0.7;
        } 
    }
}